# Core web framework
fastapi
uvicorn[standard]

# Image & OCR processing
opencv-python-headless
numpy
Pillow
python-barcode[images]

# File upload / env config
python-multipart
python-dotenv

# HTTP client (เชื่อม API ภายนอก)
httpx

# Database (PostgreSQL)
databases[postgresql]
asyncpg
psycopg2-binary

# Optional (logging, performance)
orjson
